body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(#fc0526, #056);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container form {
  background: linear-gradient(#d70,#fc0526);
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

button:hover {
  background: #32a895;
  transition: 0.3s;
}

h1{
 color: #05b6fc;
}

